<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>LocalPickup\LocalPickup</fullnamespace>
    <descriptive locale="en_US">
        <title>Local Pickup</title>
        <description>Let your customers pick up their orders from a specific location.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Retrait sur place</title>
        <description>Ce module de transport permet à vos clients de venir retirer eux-même leur commande.</description>
    </descriptive>
    <languages>
        <language>fr_FR</language>
        <language>en_US</language>
    </languages>
    <version>0.5</version>
    <author>
        <name>Thelia, Franck Allimant</name>
        <company>Open Studio, CQFDev</company>
        <email>info@thelia.net, franck@cqfdev.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>beta</stability>
</module>