{extends file="email-layout.tpl"}

{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}
{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{intl l="Your order confirmation Nº %ref" ref={$order_ref}}{/block}

{* Title  *}
{block name="email-title"}{intl l="Thank you for your order!"}{/block}

{* Content  *}
{block name="email-content"}
    {if $comment}
        <p>
            {$comment nofilter}
        </p>
        <br/>
    {/if}

    {loop name="order.invoice" type="order" id=$order_id customer="*"}
        {loop name="currency.order" type="currency" id=$CURRENCY}
            {assign var="orderCurrencyIsoCode" value=$ISOCODE}
        {/loop}
        {loop type="customer" name="customer.invoice" id=$CUSTOMER current="0"}
            {assign var="customerRef" value=$REF}
        {/loop}

        {hook name="email-html.order-confirmation.before-address" order=$order_id}

        {intl l="Here are the details of your purchase:"}<br /><br />

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top" width="55%">
                    <strong style="color: #322588">{intl l="Delivery address:"}</strong><br>
                    {ifhook rel="email-html.order-confirmation.delivery-address"}
                        {* delivery module can customize the delivery address *}
                        {hook name="email-html.order-confirmation.delivery-address" module={$DELIVERY_MODULE} order=$order_id}
                    {/ifhook}
                    {elsehook rel="email-html.order-confirmation.delivery-address"}
                        {format_address order_address=$DELIVERY_ADDRESS locale=$locale}
                    {/elsehook}
                </td>
                <td valign="top">
                    <strong style="color: #322588">{intl l="Billing address:"}</strong><br />
                    {format_address order_address=$INVOICE_ADDRESS locale=$locale}
                </td>
            </tr>
        </table>

        {loop name="payment-module" type="module" id=$PAYMENT_MODULE}
            {if $CODE === "Cheque"}
                <h4 style="color: #322588; font-size: 15px; font-weight: bold">{intl l="Instructions"}</h4>
                {loop type="module-config" name="get-instruction" module="Cheque" variable="instructions" locale={lang attr="locale"}}
                    {$VALUE nofilter}
                {/loop}
            {/if}

            {if $CODE === "LocalPickup"}
                <h4 style="color: #322588; font-size: 15px; font-weight: bold">{intl l="Instructions"}</h4>
                {$comment nofilter}
            {/if}

            {if $CODE === "WireTransfer"}
                <h4 style="color: #322588; font-size: 15px; font-weight: bold">{intl l="Instructions"}</h4>
                <p>
                    {loop type="module-config" name="name-wire" module="WireTransfer" variable="name"}
                        {intl l="Account name"} : <strong>{$VALUE}</strong><br />
                    {/loop}
                    {loop type="module-config" name="iban-wire" module="WireTransfer" variable="iban"}
                         IBAN : <strong>{$VALUE}</strong><br />
                    {/loop}
                    {loop type="module-config" name="bic-wire" module="WireTransfer" variable="bic"}
                        BIC : <strong>{$VALUE}</strong><br />
                    {/loop}
                    {loop type="module-config" name="message-wire" module="WireTransfer" variable="message"}
                        {$VALUE nofilter}
                    {/loop}
                </p>
            {/if}
        {/loop}

        {hook name="email-html.order-confirmation.after-address" order=$order_id}

        <p style="border-top: 1px solid #F3F2FC;border-bottom: 1px solid #F3F2FC;padding-top: 30px;padding-bottom:30px;font-size: 15px">
            {intl l="Order Total:"} <strong>{format_money number=$TOTAL_TAXED_AMOUNT currency_id=$CURRENCY}</strong><br />
            {intl l="Order Number:"} <strong>{$REF}</strong><br />
            {intl l="Paid With:"} <strong>{loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}</strong><br />
            {intl l="Purchase Date:"} <strong>{format_date date=$CREATE_DATE output="datetime"}</strong><br />
            {intl l="Delivery method:"} <strong>{loop name="delivery-module" type="module" id=$DELIVERY_MODULE}{$TITLE}{/loop}</strong><br />
        </p>

        {hook name="email-html.order-confirmation.before-products" order=$order_id}

        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:15px;line-height:2em">
            <tr>
                <td style="font-size: 13px; padding-bottom:15px;">{intl l="What You Purchased"}</td>
                <td align="right" style="font-size: 13px; padding-bottom:15px;">{intl l="Price in"} {$orderCurrencyIsoCode}</td>
            </tr>
            {$subtotal = 0}
            {loop type="order_product" name="order-products" order=$ID}
            {if $WAS_IN_PROMO == 1}
                {assign "realPrice" $PROMO_PRICE}
                {assign "realTax" $PROMO_PRICE_TAX}
                {assign "realTaxedPrice" $TAXED_PROMO_PRICE}
            {else}
                {assign "realPrice" $PRICE}
                {assign "realTax" $PRICE_TAX}
                {assign "realTaxedPrice" $TAXED_PRICE}
            {/if}
                <tr {if $LOOP_COUNT neq 1}style="border-top: 1px solid #514C69"{/if}>
                    <td style="font-size:15px; padding:10px 12px; background: #F3F2FC;">
                        <b>{$TITLE}</b> <i>({$REF}{if $REF != $PRODUCT_SALE_ELEMENTS_REF}, {$PRODUCT_SALE_ELEMENTS_REF}{/if})</i>
                        {ifloop rel="combinations"}<br />
                        {loop type="order_product_attribute_combination" name="combinations" order_product=$ID}
                            <span style="color:#999;display:block;font-size:11px;line-height:1.2">* {$ATTRIBUTE_TITLE}: {$ATTRIBUTE_AVAILABILITY_TITLE}</span>
                        {/loop}
                        {/ifloop}
                        {hook name="email-html.order-confirmation.product-list" order=$order_id order_product=$ID}
                    </td>
                    <td align="right" style="font-size:15px; padding:10px 12px; background: #F3F2FC;white-space:nowrap">
                        {$QUANTITY} x {format_money number=$realTaxedPrice currency_id=$CURRENCY}
                        {$subtotal = $subtotal + $realTaxedPrice * $QUANTITY}
                    </td>
                </tr>

                {hook name="email-html.order-confirmation.order-product" order="{$order_id}" order_product="{$ID}"}

            {/loop}
            <tr>
                <td align="right" style="text-align:right; padding:10px 12px;">{intl l="Subtotal"}</td>
                <td align="right" style="text-align:right; padding:10px 12px;">{format_money number=$subtotal currency_id=$CURRENCY} </td>
            </tr>
            {if $DISCOUNT > 0}
                <tr>
                    <td align="right" style="text-align:right; padding:10px 12px;">{intl l="Discount"}</td>
                    <td align="right" style="text-align:right; padding:10px 12px;">{format_money number=$DISCOUNT currency_id=$CURRENCY} </td>
                </tr>
                <tr>
                    <td align="right" style="text-align:right; padding:10px 12px;">{intl l="Total"}</td>
                    <td align="right" style="text-align:right; padding:10px 12px;">{format_money number={$TOTAL_TAXED_AMOUNT - $POSTAGE} currency_id=$CURRENCY} </td>
                </tr>
            {/if}
            <tr>
                <td align="right" style="text-align:right; padding:10px 12px;">{intl l="Shipping:"}</td>
                <td align="right" style="text-align:right; padding:10px 12px;">{format_money number=$POSTAGE currency_id=$CURRENCY}</td>
            </tr>
            <tr>
                <td align="right" style="text-align:right; padding:10px 12px;"><strong>{intl l="Order Total"}</strong></td>
                <td align="right" style="text-align:right;padding:10px 12px;"><strong>{format_money number=$TOTAL_TAXED_AMOUNT currency_id=$CURRENCY}</strong></td>
            </tr>
        </table>
    {/loop}

    {hook name="email-html.order-confirmation.after-products" order=$order_id}

    <br />

    {ifhook rel="email-html.order-confirmation.footer"}
        {hook name="email-html.order-confirmation.footer" order=$order_id}
    {/ifhook}
    {elsehook rel="email-html.order-confirmation.footer"}
        <p style="padding-bottom:30px; border-bottom: 1px solid #F3F2FC;"><a href="{url path="/account"}">{intl l="View this order in your account at %shop_name" shop_name={config key="store_name"}}</a></p>

        <br />

        <h2 style="color:#322588">{intl l="Support"}</h2>
        {intl l='For any questions, or concerns, feel free to contact <a href="mailto:%mail" style="color:#322588;text-decoration:none" target="_blank">%mail</a>.' mail={config key="store_email"}}<br /><br />
        <b style="color:#322588; margin-bottom:10px;display:block;">{intl l="Our contact us at:"}</b>
        {config key="store_name"}<br>
        {config key="store_address1"}<br />
        {config key="store_zipcode"}, {config key="store_city"}<br />
        {if {config key="store_country"}}
            {loop type="country" name="store_country" id={config key="store_country"}}
                {$TITLE}
            {/loop}
        {/if}
        <br />
        <br />
        {intl l="Thanks"}<br />
        {intl l="The %store team." store={config key="store_name"}}
    {/elsehook}
{/block}

